# Fashion product recommandation system

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("test.csv")

In [3]:
df.head()

,id,title,Rating,maincateg,platform,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,2242,Casuals For Men (Blue),3.8,Men,Flipkart,999,27928,3543,14238.0,4295,3457,1962,3976.0,1
1,20532,Women Black Flats Sandal,3.9,Women,Flipkart,499,3015,404,1458.0,657,397,182,321.0,1
2,10648,Women Gold Wedges Sandal,3.9,Women,Flipkart,999,449,52,229.0,70,71,33,46.0,1
3,20677,Men's Height Increasing High Heel Formal Party...,3.9,Men,Flipkart,2999,290,40,141.0,51,49,17,32.0,1
4,12593,Loafers For Men (Tan),3.9,Men,Flipkart,999,2423,326,1265.0,414,293,143,308.0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5244 entries, 0 to 5243
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          5244 non-null   int64
 1   title       5244 non-null   object
 2   Rating      5041 non-null   float64
 3   maincateg   5177 non-null   object
 4   platform    5244 non-null   object
 5   actprice1   5244 non-null   int64
 6   norating1   5244 non-null   int64
 7   noreviews1  5244 non-null   int64
 8   star_5f     5176 non-null   float64
 9   star_4f     5244 non-null   int64
 10  star_3f     5244 non-null   int64
 11  star_2f     5244 non-null   int64
 12  star_1f     5058 non-null   float64
 13  fulfilled1  5244 non-null   int64
dtypes: float64(3), int64(8), object(3)
memory usage: 573.7+ KB

In [5]:
df.drop(columns = ["norating1","noreviews1","star_5f","star_4f","star_3f","star_2f","star_1f","fulfilled1"],inplace = True)

In [6]:
df.isnull().sum()

id             0
title          0
Rating       203
maincateg     67
platform       0
actprice1      0
dtype: int64

In [7]:
df['Rating'].fillna(df['Rating'].median(),inplace=True)

In [8]:
df['maincateg'].fillna(df['maincateg'].mode()[0],inplace=True)

In [9]:
df.rename(columns={"maincateg": "category"},inplace=True)

In [10]:
df.rename(columns={"title": "product"},inplace=True)

In [11]:
df.rename(columns={"actprice1": "price"},inplace=True)

In [12]:
df.head()

,id,product,Rating,category,platform,price
0,2242,Casuals For Men (Blue),3.8,Men,Flipkart,999
1,20532,Women Black Flats Sandal,3.9,Women,Flipkart,499
2,10648,Women Gold Wedges Sandal,3.9,Women,Flipkart,999
3,20677,Men's Height Increasing High Heel Formal Party...,3.9,Men,Flipkart,2999
4,12593,Loafers For Men (Tan),3.9,Men,Flipkart,999

In [13]:
df.drop(columns = ["platform"],inplace = True)

In [14]:
df.shape

(5244, 5)

In [15]:
df.duplicated().sum()

0

In [16]:
df["product"].unique()

array(['Casuals For Men\xa0\xa0(Blue)', 'Women Black Flats Sandal',
       'Women Gold Wedges Sandal', ...,
       'AA001 Boots For Men\xa0\xa0(Black)',
       "Women Girl's Fashion Trendy Comfortable Slip On Sneakers For Women\xa0\xa0(Green)",
       'Womens Casual Comfort Stylish Black High Heel With Silver Strap Flip Flops'],
      dtype=object)

In [17]:
df['Product_summary'] = df['category'] + ' ' + df['product']

In [18]:
df.head(1)

,id,product,Rating,category,price,Product_summary
0,2242,Casuals For Men (Blue),3.8,Men,999,Men Casuals For Men (Blue)

In [19]:
df["Product_summary"]

0                             Men Casuals For Men  (Blue)
1                          Women Women Black Flats Sandal
2                          Women Women Gold Wedges Sandal
3       Men Men's Height Increasing High Heel Formal P...
4                              Men Loafers For Men  (Tan)
                              ...
5239                   Women Women Off White Flats Sandal
5240                           Men Slip On For Men  (Tan)
5241                        Women Women Grey Heels Sandal
5242    Women Womens Casual Comfort Stylish Black High...
5243    Women ZAPATOZ Women's Casual PU Leather Sneake...
Name: Product_summary, Length: 5244, dtype: object

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np 
import nltk

In [23]:
from nltk.stem.porter import PorterStemmer

In [24]:
def stem_text(text):
    ps = PorterStemmer()
    y = []
    for word in text.split():
     
        stemmed_word = ps.stem(word)
  
        y.append(stemmed_word)

    stemmed_text = ' '.join(y)
    
    return stemmed_text

In [25]:
# Example usage:
text = "running eating jumped"
stemmed_text = stem_text(text)
print(stemmed_text)

run eat jump

In [26]:
df["Product_summary"] = df["Product_summary"].apply(stem_text)

In [27]:
cv = CountVectorizer()

In [28]:
Vectors= cv.fit_transform(df["Product_summary"]).toarray()

In [29]:
Vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [30]:
Vectors.shape

(5244, 1449)

In [31]:
from sklearn.metrics.pairwise import cosine_similarity

In [32]:
similarity = cosine_similarity(Vectors)

In [33]:
from nltk.stem.porter import PorterStemmer

In [34]:
Vectors= cv.fit_transform(df["Product_summary"]).toarray()

In [35]:
similarity=cosine_similarity (Vectors)

In [36]:
similarity[0]

array([1.        , 0.        , 0.        , ..., 0.        , 0.09759001,
       0.11952286])

In [37]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(3190, 0.9999999999999998),
 (297, 0.9561828874675149),
 (3592, 0.9354143466934852),
 (4005, 0.9354143466934852),
 (970, 0.9296696802013682)]

In [38]:
def recommend(product):
    product_index = df[df['product'] == product].index[0]
    distances = similarity[product_index]
    product_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]

    for i in product_list:
        print(df.iloc[i[0]].product)

In [39]:
recommend("Women Gold Wedges Sandal")

<bound method Series.prod of id                                         7382
product                Women Gold Wedges Sandal
Rating                                      3.8
category                                  Women
price                                      1199
Product_summary    women women gold wedg sandal
Name: 507, dtype: object>
<bound method Series.prod of id                                         2224
product                Women Gold Wedges Sandal
Rating                                      3.8
category                                  Women
price                                       599
Product_summary    women women gold wedg sandal
Name: 623, dtype: object>
<bound method Series.prod of id                                        16459
product                Women Gold Wedges Sandal
Rating                                      3.9
category                                  Women
price                                       499
Product_summary    women women gold wedg sandal
Name: 868, dtype: object>
<bound method Series.prod of id                                        13801
product                Women Gold Wedges Sandal
Rating                                      3.8
category                                  Women
price                                      1690
Product_summary    women women gold wedg sandal
Name: 1003, dtype: object>
<bound method Series.prod of id                                        20034
product                Women Gold Wedges Sandal
Rating                                      3.9
category                                  Women
price                                       999
Product_summary    women women gold wedg sandal
Name: 1090, dtype: object>

In [40]:
df["product"]

0                                 Casuals For Men  (Blue)
1                                Women Black Flats Sandal
2                                Women Gold Wedges Sandal
3       Men's Height Increasing High Heel Formal Party...
4                                  Loafers For Men  (Tan)
                              ...
5239                         Women Off White Flats Sandal
5240                               Slip On For Men  (Tan)
5241                              Women Grey Heels Sandal
5242    Womens Casual Comfort Stylish Black High Heel ...
5243      ZAPATOZ Women's Casual PU Leather Sneaker Shoes
Name: product, Length: 5244, dtype: object

In [65]:
import pickle

In [67]:
with open('similarity.pkl', 'wb') as f: 
    pickle.dump(similarity, f)

In [68]:
with open('df.pkl', 'wb') as f: 
    pickle.dump(df, f)